body {
  font-size: 13pt;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.SimpleText {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  height: 87%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Header,
.Footer {
  width: 100%;
  background-image: linear-gradient(rgb(87, 87, 87), rgb(19, 19, 19));
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.Header h1 {
  font-size: 2.3rem;
}

.Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(213, 213, 213);
  font-size: 11pt;
}
.NavButtons {
  display: flex;
  align-items: center;
  padding: 5px;
}
.AccountButton {
  display: flex;
}

.AccountButton button {
  /* background-color: #f35d00; */
  background-image: linear-gradient(rgb(149, 149, 149), rgb(56, 56, 56));
  padding: 5px;
  border-radius: 0.25rem;
  margin-right: 5px;
  font-family: 'Orbitron', sans-serif;
}
.AccountButton button:hover {
  background-color: #b74600;
}
.AccountButton a {
  text-decoration: none;
  color: white;
}
.CartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.CartButton button {
  background-image: linear-gradient(rgb(58, 58, 58), rgb(0, 0, 0));
  padding: 5px;
  border-radius: 0.25rem;
  color: white;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 0.75rem;
}

.Nav li a {
  color: #424242;
  text-decoration: none;
}

.Nav li:hover,
.Nav li:focus,
.Nav li:hover a,
.Nav li:focus a {
  background-color: #fafafa;
  color: #6c6c6c;
}

.Close {
  background-color: rgb(105, 105, 105);
  color: white;
  padding: 2px;
  border-radius: 0.25rem;
}
.Checkout {
  background-color: rgb(0, 80, 12);
  font-size: 8pt;
  color: white;
  padding: 2px;
  border-radius: 0.25rem;
}
/* .Success {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/*-------------------------HOME--------------------------------*/
.Users {
  width: 90%;
}

.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  color: white;
  background-color: rgb(17, 17, 17);
  padding: 10px;
  width: 100%;
  height: 20%;
  font-family: 'Orbitron', sans-serif;
  font-size: 16pt;
}
.HomeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  padding: 20px;
  /* border: 2pt solid red; */
}
.LogOut {
  display: flex;
  align-items: right;
}
.LogOut button {
  padding: 5px;
  width: 200px;
  background-image: linear-gradient(rgb(255, 110, 58), rgb(185, 49, 0));
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  color: white;
}

/*-------------------------USERS--------------------------------*/

.UserCard {
  background-color: rgb(243, 243, 243);
  border-radius: 0.25rem;
  box-shadow: 2px 6px #ececec;
  padding: 7px;
  margin-top: 15px;
  width: 90%;
}

.ProfileHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(128, 128, 128), rgb(0, 0, 0));
  border-radius: 0.25rem;
  box-shadow: 2px 4px #d7d7d7;
  padding: 7px;
  margin-top: 20px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.Rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27%;
  position: relative;
}
.Rating h2 {
  color: #ff6709;
}

.ProfileDetails {
  background-color: rgb(233, 233, 233);
  border-radius: 0.25rem;
  padding: 7px;
  margin-top: 15px;
  line-height: 1.5;
  font-family: 'Orbitron', sans-serif;
}
.ProfileDetails h5 {
  color: #7a7a7a;
  font-family: Arial, Helvetica, sans-serif;
}

.UpdateUser {
  border: 2pt solid rgb(234, 234, 234);
  padding: 5px;
  margin-top: 20px;
}
.DeleteUser {
  border: 2pt solid rgb(234, 234, 234);
  padding: 5px;
  margin-top: 20px;
  width: 40%;
}
/*-------------------------PRODUCTS--------------------------------*/

.AllProducts {
  border-radius: 0.25rem;
  box-shadow: 3px 5px 10px #878787;
  padding: 10px;
  margin-left: 10px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* border: 2pt solid red; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
}
.AllProducts p {
  margin-left: 10px;
  font-size: 13pt;
}

.ProductCards ul a {
  list-style: none;
  margin-top: 10px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.ProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Column {
  flex: 27%;
  height: 350px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  background-color: rgb(239, 239, 239);
  box-shadow: 3px 2px 5px #878787;
  border-radius: 0.5rem;
}
.Column:hover {
  flex: 27%;
  height: 350px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  background-color: rgb(223, 223, 223);
  border-radius: 0.5rem;
  border: 2pt solid rgb(255, 255, 255);
}
.ItemQuantity form button {
  background-color: orange;
}

/*-------------------------PRODUCT CARD CONTAINER--------------------------------*/

.CardContainer {
  padding: 13px;
  margin-bottom: 20px;
}

/*-------------------------CARD DETAILS--------------------------------*/

.CardHeader {
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 5px;
  border-radius: 0.25rem;
  border-left: 5pt solid orangered;
}

img {
  padding: 5px;
  height: 250px;
  width: 200px;
  margin-top: 20px;
  border-radius: 0.5rem;
}

.Form .Quantity {
  width: 27px;
}

.GameName {
  /* border-left: 5pt solid orangered; */
  background-image: linear-gradient(rgb(128, 128, 128), rgb(0, 0, 0));
  background-color: rgb(46, 46, 46);
  border-radius: 0.25rem;
  padding: 7px;
  color: white;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
}

.Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(239, 239, 239);
  border-radius: 0.25rem;
  box-shadow: 3px 5px 10px #878787;
  padding: 10px;
  padding-bottom: 50px;
  height: 600px;
  width: 70%;
  margin-top: 30px;
  font-size: 12pt;
}
.CreateAccount {
  padding: 10px;
  margin-bottom: 10px;
}

.ItemQuantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemQuantity form input {
  height: 27px;
  width: 20%;
}

.ItemQuantity form button {
  padding: 5px;
  width: 17%;
  background-color: #270f00;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  color: white;
  margin: 5px;
}
.ItemQuantity button {
  padding: 5px;
  width: 40%;
  background-image: linear-gradient(rgb(255, 110, 58), rgb(185, 49, 0));
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  color: white;
  margin: 5px;
}

.Description {
  display: flex;
  padding: 12px;
  box-shadow: 1px 2.5px 5px #adadad;
  border-radius: 0.25rem;
  text-align: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 2pt solid red; */
}

/*-------------------------WISHLIST--------------------------------*/
.Wish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.Wish h2 {
  font-family: 'Orbitron', sans-serif;
}

.WishCard {
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 5px;
  border-radius: 0.25rem;
  border-left: 5pt solid orangered;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  padding: 10px;
}
.WishCard a {
  color: white;
  text-decoration: none;
}

.PastOrders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.PastOrders h2 {
  font-family: 'Orbitron', sans-serif;
}
.OrdersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(215, 215, 215);
  color: rgb(85, 85, 85);
  padding: 5px;
  border-radius: 0.25rem;
  /* border-left: 5pt solid orangered; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 550px;
  padding: 10px;
}
.OrdersList p {
  color: orangered;
}

/*-------------------------CART/Modal--------------------------------*/

.Cart {
  background-color: rgb(241, 241, 241);
  border-radius: 0.25rem;
  padding: 10px;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  color: rgb(74, 74, 74);
}
.Cart .Close {
  padding: 3px;
  margin-bottom: 5px;
}
.Cart p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 10pt;
}

.LineItems {
  margin-top: 10px;
  color: #222222;
}

.Item {
  border-radius: 0.25rem;
  line-height: 1.5;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  color: rgb(73, 73, 73);
  width: 100%;
  margin-bottom: 20px;
}
.NamePrice {
  display: flex;
  background-color: white;
  border-bottom: 2pt solid rgb(203, 203, 203);
  border-left: 2pt solid rgb(40, 40, 40);
  justify-content: space-between;
  color: rgb(102, 102, 102);
  font-size: 10pt;
  padding: 5px;
}

.ModalButton button {
  font-size: 8pt;
  margin-top: 5px;
  justify-content: right;
}

.Item button {
  margin-top: 10px;
  padding: 4px;
  background-color: #ea5a00;
  color: white;
  border-radius: 0.25rem;
  border: none;
}
.ModalFooter {
  padding: 5px;
  margin-top: 10px;
  font-size: 12pt;
}
.Checkout {
  margin-top: 10px;
}
button.Checkout {
  background-color: #00a81f;
  /* background-image: linear-gradient(grey, rgb(0, 0, 0)); */
  font-family: 'Orbitron', sans-serif;
}

.On {
  position: absolute;
  top: 20%;
  right: 0.5%;
  transform: translate(-15%, -35%);
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 5px 10px #878787;
  border-radius: 0.25rem;
  padding: 1px;
  color: rgb(165, 165, 165);
}
.Off {
  display: none;
}

/*-------------------------FORMS--------------------------------*/

.searchForm {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25 0 0;
  padding: 0 0.5rem 0.25rem;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  width: 40%;
  min-height: 38px;
  font-size: 10pt;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form {
  width: 30%;
  padding: 10px;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}

.UpdateForm {
  width: 50%;
  padding: 10px;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}
.UpdateForm p {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

form input {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  padding: 5px;
  width: 45%;
  background-image: linear-gradient(rgb(255, 110, 58), rgb(185, 49, 0));
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  color: white;
}

form button:hover {
  background-color: #b74600;
}

.AddToCart button {
  background-color: orangered;
}

.Button {
  background-color: orangered;
}

/*-------------------------SignUp Form--------------------------------*/
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.AfterStripe {
  margin-top: 20px;
  padding: 20px;
}
